.allFeedback {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0.5rem;
}


/* +++++++++++++++++++++++ MEDIA QUERIES +++++++++++++++++++++++ */
@media screen and (min-width: 648px) {
    .allFeedback {
        padding: 0.8rem 1rem;
    }
}

@media screen and (min-width: 700px) {
    .allFeedback {
        grid-template-columns: repeat(2, 1fr);
        padding: 0.5rem;
    }
}

@media screen and (min-width: 850px) {
    .allFeedback {
        gap: 1rem;
        padding: 0.5rem 1rem;
    }
}

@media screen and (min-width: 1200px) {
    .allFeedback {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}

@media screen and (min-width: 1800px) {
    .allFeedback {
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }
}