.contact {
    margin: 0 0.7rem;
    margin-bottom: 3rem;
}

.contact p {
    text-align: center;
}


/* +++++++++++++++++++++++ MEDIA QUERIES +++++++++++++++++++++++ */
@media screen and (min-width: 1500px) {
    .contact {
        margin-bottom: 5rem;
    }
}